<a href="https://colab.research.google.com/github/thunpitc/data_viz/blob/main/Function_Loop_Condition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
name = 'ธัญพิชชา'
surname = 'ฤาไกรศรี'
ID = '603021821-9'

b= f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
print (b)

#แบบดั่งเดิม

ชื่อ ธัญพิชชา นามสกุล ฤาไกรศรี รหัส 603021821-9

## Function

## Function template
### ทำหน้าที่รับ input มาประมวณผลออกมาเป็น output
### f(x) = y

## def คือการกำหนดฟังก์ชัน

```python
       def function_name(_Input_) :
             do_something with _Input_ to get _Output_
             return _Output_
```

back tick กด  alt 9>6
 ฟังก์ชั่นมีส่วนสำคัญทั้งหมด 4 ส่วน
 1. บอก python ว่าเราจะเขียนฟัวก์ชั่น ชื่ออะไร ```def function_name() : ```
 2. กำหนดตัวแปรที่จะเป็น input ```_Input_``` (ขาดได้)
 3. ส่วนประมวลผล ```do_something with _Input_ to get _Output_ ```(ขาดไม่ได้)
 4. ส่วน output return _Output_ (ขาดได้)

###ต้องการเขียน normal function

In [4]:
def print_name (surname , ID , name) :
    st=f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    return st

In [5]:
print_name('ฤาไกรศรี','603021821-9','ธัญพิชชา')

'ชื่อ ธัญพิชชา นามสกุล ฤาไกรศรี รหัส 603021821-9'

In [6]:
print(print_name(name= 'ธัญพิชชา', surname= 'ฤาไกรศรี', ID= '603021821-9'))

ชื่อ ธัญพิชชา นามสกุล ฤาไกรศรี รหัส 603021821-9

เราใช้ เว้นวรรค เพื่อบอกขอบเขตของโปรแกรม

ฟังก์ชันไม่จำเป็นต้องมีoutput

In [14]:
def print_name2 (surname , ID , name) :
    st=f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    print (st)

In [16]:
print_name2(name= 'ธัญพิชชา', surname= 'ฤาไกรศรี', ID= '603021821-9')

ชื่อ ธัญพิชชา นามสกุล ฤาไกรศรี รหัส 603021821-9

**ฟังก์ชั่นไม่จำเป็นต้องมี input**

In [ ]:
def Pi():
      return 3.14159265359

In [ ]:
Pi()*(2**2) # หาพื้นที่ของวงกลมที่มีรัศมีเท่ากับ Pi* r**2

12.56637061436

### เราสามารถกำหนดค่า default (ค่าเริ่มต้น) ให้กับฟังก์ชั่นได้

In [22]:
def print_2lines_default(name, surname, ID, grade='F'): #ค่าเกรดFคือค่าเริ่มเต้น
    st=f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    print (st)
    st2=f'เกรดวิชา Data viz >> {grade}'
    print (st2)

In [23]:
 print_2lines_default('ธัญพิชชา', 'ฤาไกรศรี', '603021821-9')

ชื่อ ธัญพิชชา นามสกุล ฤาไกรศรี รหัส 603021821-9
เกรดวิชา Data viz >> F

In [24]:
print_2lines_default('ธัญพิชชา', 'ฤาไกรศรี', '603021821-9', 'A') #กำหนดเกรดเอง

ชื่อ ธัญพิชชา นามสกุล ฤาไกรศรี รหัส 603021821-9
เกรดวิชา Data viz >> A

### เราสามารถเพิ่มคำสั่งเข้าไปในฟังก์ชั่นอีกได้ โดยการเปลี่ยน คำสั่่ง return เป็น print()ได้ เช่นตัวอย่างนี้ ได้ทำการเพิ่ม

##LOOP การวนซ้ำ

for เป็นคำที่ใช้บอก python ว่าเรากำลังเขียน loop
โดย for จะวนดึงสมาชิกจาก ```listA```มาทำ process ```do_somthing```

In [ ]:
for each_member in listA :
  do_something

### คำสั่ง for เป็นคำสั่งวนซ้ำที่ใช้ควบคุมการทำงานว้ำๆในจำนวนรอบที่แน่นอน

In [26]:
for i in [1,2,3] :
     o = i**2 #ยกกำลัง2
     print (f' this member = {i} after process = {o}')

 this member = 1 after process = 1
 this member = 2 after process = 4
 this member = 3 after process = 9

### จบวันที่ 7 มค. 64

###ตัวอย่างการใช้คำสั่ง for ในการวนซ้ำค่าของ i เมื่อ i คือ 'Thanapong' และคำสั่ง print

In [27]:
for i in 'Thanapong':
    print(f'{i}')

T
h
a
n
a
p
o
n
g

In [28]:
for i in 'Thanapong':
    print(f'{i}->/',end= ' ' ) #สั่งให้ print แบบไม่เว้นบรรทัด

T->/ h->/ a->/ n->/ a->/ p->/ o->/ n->/ g->/

In [ ]:
for i in 'Thanapong':
    print(f'{i} - > / ' ,end = ',' ) #สั่งให้ print แบบไม่เว้นบรรทัด

T - > / ,h - > / ,a - > / ,n - > / ,a - > / ,p - > / ,o - > / ,n - > / ,g - > / ,

## สร้าง list ตัวเลขแบบอัตโนมัติ rang()

In [32]:
range5_output = range(5)
print (range5_output)

range(0, 5)

In [ ]:
range5_output = range(5)
print (list(range5_output))

[0, 1, 2, 3, 4]

In [31]:
for i in range(100):
    print('งง' ,end = ' ')

งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง

In [33]:
list(range(1,11)) #เริ่มต้นเป็นวงกลมทึบ จบเป็นวงกลมโปร่ง เหมือน list slicing

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [34]:
list(range (-3,20,4)) #เริ่ม-3ไปจนถึง20แล้วstepทีละ4

[-3, 1, 5, 9, 13, 17]

##loop in loop
###สามาถใช้ for loop ซ้อนกันสองรอบได้

In [ ]:
for name1 in range(2,5): #loop นี้วิ่ง(2, 3, 4)
    print(f'no name1 = {name1}')
    for name2 in range(1,13):
        print(name1,' x ',name2, ' = ',name1*name2)
    print('the inner loop is end')

no name1 = 2
2  x  1  =  2
2  x  2  =  4
2  x  3  =  6
2  x  4  =  8
2  x  5  =  10
2  x  6  =  12
2  x  7  =  14
2  x  8  =  16
2  x  9  =  18
2  x  10  =  20
2  x  11  =  22
2  x  12  =  24
the inner loop is end
no name1 = 3
3  x  1  =  3
3  x  2  =  6
3  x  3  =  9
3  x  4  =  12
3  x  5  =  15
3  x  6  =  18
3  x  7  =  21
3  x  8  =  24
3  x  9  =  27
3  x  10  =  30
3  x  11  =  33
3  x  12  =  36
the inner loop is end
no name1 = 4
4  x  1  =  4
4  x  2  =  8
4  x  3  =  12
4  x  4  =  16
4  x  5  =  20
4  x  6  =  24
4  x  7  =  28
4  x  8  =  32
4  x  9  =  36
4  x  10  =  40
4  x  11  =  44
4  x  12  =  48
the inner loop is end

###loop in function

###การวนลูปในฟังก์ชั่น

In [ ]:
def print_feelings (I, friends, feeling = 'คิดถึง'):
    for friend in  friends :
      print (f' {I} {feeling} {friend}')

In [ ]:
list_friends = ['เจน','นุ่น','โบว์','ก้อย','นัตตี้','ดรีม']

In [ ]:
print_feelings (' ตู่ ' ,list_friends)

  ตู่  คิดถึง เจน
  ตู่  คิดถึง นุ่น
  ตู่  คิดถึง โบว์
  ตู่  คิดถึง ก้อย
  ตู่  คิดถึง นัตตี้
  ตู่  คิดถึง ดรีม

In [ ]:
print (list_friends)

['เจน', 'นุ่น', 'โบว์', 'ก้อย', 'นัตตี้', 'ดรีม']

In [ ]:
for name1 in list_friends:
  for name2 in list_friends:
    if name1 == name2: 
      print(name1, 'รัก',name2)

เจน รัก เจน
นุ่น รัก นุ่น
โบว์ รัก โบว์
ก้อย รัก ก้อย
นัตตี้ รัก นัตตี้
ดรีม รัก ดรีม

In [ ]:
for name1 in list_friends:
  for name2 in list_friends:
    if name1 != name2: 
      print(name1, 'รัก',name2)

เจน รัก นุ่น
เจน รัก โบว์
เจน รัก ก้อย
เจน รัก นัตตี้
เจน รัก ดรีม
นุ่น รัก เจน
นุ่น รัก โบว์
นุ่น รัก ก้อย
นุ่น รัก นัตตี้
นุ่น รัก ดรีม
โบว์ รัก เจน
โบว์ รัก นุ่น
โบว์ รัก ก้อย
โบว์ รัก นัตตี้
โบว์ รัก ดรีม
ก้อย รัก เจน
ก้อย รัก นุ่น
ก้อย รัก โบว์
ก้อย รัก นัตตี้
ก้อย รัก ดรีม
นัตตี้ รัก เจน
นัตตี้ รัก นุ่น
นัตตี้ รัก โบว์
นัตตี้ รัก ก้อย
นัตตี้ รัก ดรีม
ดรีม รัก เจน
ดรีม รัก นุ่น
ดรีม รัก โบว์
ดรีม รัก ก้อย
ดรีม รัก นัตตี้

== (เท่ากับ),!= (ไท่เท่ากับ),<= ,>= ,< ,>

In [ ]:
' เจน ' == ' นุ่น '

False

In [ ]:
' เจน ' != ' นุ่น '

True

##HW4

###เขียน function ตัดเกรด โดยที่ input เป็นคะแนน(0-100) , output เป็นเกรด (F-A)

In [ ]:
def grade (score):
  if 0 <= score < 50 :
    print(f'ได้คะแนนเท่ากับ {score} คะแนน เกรดจะเป็น F ' )
  elif 50 <= score< 55:
    print(f'ได้คะแนนเท่ากับ {score} คะแนน เกรดจะเป็น D ' )
  elif 55 <= score< 60:
    print(f'ได้คะแนนเท่ากับ {score} คะแนน เกรดจะเป็น D+ ' )
  elif 60 <= score< 65:
    print(f'ได้คะแนนเท่ากับ {score} คะแนน เกรดจะเป็น C' )
  elif 65 <= score<70:
    print(f'ได้คะแนนเท่ากับ {score} คะแนน เกรดจะเป็น C+' ) 
  elif 70 <= score<75:
    print(f'ได้คะแนนเท่ากับ {score} คะแนน เกรดจะเป็น B  ' )  
  elif 75 <= score<80:
    print(f'ได้คะแนนเท่ากับ {score} คะแนน เกรดจะเป็น B+  ' )  
  elif 80 <= score<100:
    print(f'ได้คะแนนเท่ากับ {score} คะแนน เกรดจะเป็น A  ' )  
  else:
    print(f'ได้คะแนนเท่ากับ {score} คะแนน เกรดจะเป็น error ')

In [ ]:
list_Grade = [1,50,65,90,101,-5,49]
list_Grade

[1, 50, 65, 90, 101, -5, 49]

In [ ]:
for i in list_Grade :
    grade (i)

ได้คะแนนเท่ากับ 1 คะแนน เกรดจะเป็น F
ได้คะแนนเท่ากับ 50 คะแนน เกรดจะเป็น D
ได้คะแนนเท่ากับ 65 คะแนน เกรดจะเป็น C+
ได้คะแนนเท่ากับ 90 คะแนน เกรดจะเป็น A
ได้คะแนนเท่ากับ 101 คะแนน เกรดจะเป็น error
ได้คะแนนเท่ากับ -5 คะแนน เกรดจะเป็น error
ได้คะแนนเท่ากับ 49 คะแนน เกรดจะเป็น F